{{define "partial:nav"}}
<nav class="mx-auto flex gap-4">
    <a href="/">Home</a> 
    {{if .IsAuthenticated}}
    <a href="/list/">List</a> 
    <a href="/search/?favorites=true">Favorites</a> 
    <a href="/new/" role="button">New</a> 
    <a href="/time/">Time Zone</a>
    <a href="/logout/">Log Out</a>
    {{end}}
</nav>
{{end}}