{{define "partial:nav"}}
<nav>
    <a href="/">Home</a> /
    <a href="/list/">List</a> /
    <a href="/search/?favorites=true">Favorites</a> /
    <a href="/new/" role="button">New</a> /
    <a href="/time/">Time</a>
</nav>
{{end}}