{{define "page:title"}}Contact Us{{end}}

{{define "page:main"}}



<article>
    <h1>Contact Us</h1>

    {{if .Form.HasErrors}}
    <p style="max-width:400px;color:red;">Please correct the errors below.</p>
    {{end}}

    <form method="POST">

        <textarea id="markdown-editor"></textarea>


        <input type="submit" value="Submit">
    </form>
</article>

<!-- EasyMDE -->
<link rel="stylesheet" href="/static/css/easymde.min.css?version={{.Version}}">
<script src="/static/js/easymde.min.js?version={{.Version}}"></script>
<style>.editor-toolbar > button {color:inherit}</style>
<script>
    const easyMDE = new EasyMDE({
        autofocus: false,
        autosave: {
            enabled: false,
            uniqueId: "...",
        },
        autoDownloadFontAwesome: true,
        element: document.getElementById('content'),
        indentWithTabs: false,
        placeholder: "type markdown here...",
        shortcuts: {},
        unorderedListStyle: "-",

    });
</script>


{{end}}