{{define "page:title"}}Example page{{end}}

{{define "page:main"}}
<h1>Home</h1>

<p><strong>Check out a random note from the past.</strong></p>
<article>
    <header>
        <h2><a href="/note/{{.Note.ID}}/">{{.Note.Title}}</a></h2>
        <p>Last modified: {{timeInLocation .Note.ModifiedAt .TimeLocation|formatTime "Jan 02, 2006"}}</p>
    </header>
    <div class="container">
        {{.Note.Note|markdownToHTML}}
    </div>
    </section>
    {{end}}