{{define "page:title"}}Example page{{end}}

{{define "page:main"}}
<h1>Home</h1>
{{if .Note.ID}}
<p><strong>Check out a random note from the past.</strong></p>

<h2><a href="/note/{{.Note.ID}}/">{{.Note.Title}}</a></h2>
{{if not (stringContains .urlPath "/print/")}}
<div class="my-2">
    Created: {{timeInLocation .Note.CreatedAt .TimeLocation | longDateTime}}
    <br>Modified: {{timeInLocation .Note.ModifiedAt .TimeLocation | longDateTime}}
</div>

<div class="flex gap-x-4 my-2 text-sm">
    <a href="/note/{{.Note.ID}}/edit/" class="outline py-0.5 px-2 rounded-md">
        Edit</a>
    <a href="/note/{{.Note.ID}}/print/" class="outline py-0.5 px-2 rounded-md">
        Print</a>
    <a href="/note/{{.Note.ID}}/delete/" class="outline py-0.5 px-2 rounded-md">
        Delete</a>
</div>
{{end}}
<div class="prose">
    {{.Note.Note|markdownToHTML}}
</div>
{{end}}

{{end}}