{{define "page:title"}}{{.Note.Title}}{{end}}

{{define "page:main"}}

    <h1>{{.Note.Title}}</h1>
    <p>
        {{range .Note.Tags}}
        <span><a href="/list/?tag={{.}}">#{{.}}</a>, </span>
        {{end}}
    </p>
    <p>
    Created: {{timeInLocation .Note.CreatedAt .TimeLocation | longDateTime}}
    <br>Modified: {{timeInLocation .Note.ModifiedAt .TimeLocation | longDateTime}}
</p>

    <div role="group" style="max-width:10ch;">
        <a role="button" href="/note/{{.Note.ID}}/edit/">Edit</a>
        <a role="button" class="outline" href="/note/{{.Note.ID}}/delete/">Delete</a>
    </div>

<div class="prose">
    {{.Note.Note|markdownToHTML}}
</div>

{{end}}