{{define "page:title"}}{{.Note.Title}}{{end}}

{{define "page:main"}}
<article>
    <header>
        <h1>{{.Note.Title}}</h1>
        <div>Created: {{.Note.CreatedAt|timeSince}}</div>
        <div>Modified: {{.Note.ModifiedAt|timeSince}}</div>
 
        <div role="group" style="max-width:10ch;">
            <a role="button" href="/{{.Note.ID}}/edit/">Edit</a>
            <a role="button" class="outline" href="/{{.Note.ID}}/delete/">Delete</a>
        </div>
    </header>
    <div class="container">
        {{.Note.Note}}
    </div>
</article>

{{end}}